<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="jumbotron">
    <h1>github user search</h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <input [(ngModel)]="userName">
      <button (click)="userSearch()">SEARCH</button>
    </div>
  </div>
  <div class="col-sm-6">
    <img [src]="avatarUrl">
    <div style="float:right;">
      <h3>{{githubData.name}}</h3>
      <h4>Repositories: {{githubData.public_repos}}</h4>
      <h4>Followers: {{githubData.followers}}</h4>
      <h4>Following: {{githubData.following}}</h4>
      <h4><a [href]="githubData.html_url">link to  Github Page</a></h4>
    </div>
  </div>
</div>
